@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 2% 7%;
  margin-top: 35px;
  font-family: "Roboto Slab", serif;
  background-color: #ccc;
}
